/* Styles to modify the models */
.modal-title {
    text-align: flex;
    align-items: center;
    justify-content: center !important;
    border: none !important;
}
.modal-footer {
    border: none !important;
}
.btn {
    border-radius: 2px !important;
}
.modal-body {
    padding: 0px 60px !important;
}
input {
    padding: 30px !important;
}
input:focus {
    border: rgb(55, 76, 88) 2px solid !important;
}

/* styles for the rest */
.modal-show-btn {
    text-align: right;
}
.btn-show {
    margin-top: 20px;
    border-radius: 30px !important;
    padding: 10px !important;
    box-shadow: grey 3px 2px 3px;
}
.displayContant {
    border: 2px solid grey;
    width: 400px;
    height: 400px;
    overflow: auto;
}
